
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&family=Poppins:wght@300;400;600;700&display=swap');

:root {
  
}

body{
  margin: 0;
}

html{
box-sizing: border-box;
font-family: 'Fredoka', sans-serif;
}

*, *::after, *::before{
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  background-color: aliceblue;
}

